#about, #resume, #services, #contact, #portfolio{
    padding: 4rem 8rem;
}

/* #home{
    flex-direction: column;
    justify-content: center;
}
.home-left{
    margin: 20px;
}
.home-right{
    text-align: center;
} */

