#home{
    padding: 20px;
    width: 100%;
}
.home-left img,.top-img{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    border: 2px solid red;
}
.home-right{
    width: 100%;
    padding: 0px 0px;
    /* padding: auto 4px; */
    text-align: center;
}
#about, #resume, #services, #contact, #portfolio{
    padding: 2em 0.2rem;
}
.about-left{
    width: 100%;
    text-align: center;
    margin: auto;
}
.about-right{
    width: 96%;
    padding: 0px 14px;
    text-align: center;
    margin: auto;
}
.about-left img{
    width: 120px;
    text-align: center;
    margin: auto;
}
.color-box{
    text-align: left;
    display: flex;
    background-color: gray;
    padding: 10px 6px;
}
#resume{
    padding: 4rem 0rem;
}
.resume-right{
    border-left: none;
}
.two-sections{
    flex-direction: column;
}
.contact-right{
    width: 100%;
}

.padding-image{
    /* display: block;
    width: 100%;
    text-align: center;
    margin: auto; */
}
.first-image img{
    padding: 20px 10px;
    display: block;
    width: 80%;
    margin: auto;
}
.second-image img{
    padding: 20px 10px;
    display: block;
    width: 80%;
    margin: auto;
}

.resume-left{
    width: 100%;
}
.resume-right{
    width: 100%;
}


